<footer>
    <div class="f-info">
        <div class="f-info-links">
            <span>&copy; WanderLust,Inc.</span>
            <a href="/privacy"> Privacy</a>
            <a href="/terms">Terms</a>
            <a href="/sitemap">Sitemap</a>
            <a href="companydetails">Company Details</a>

        </div>  
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook" ></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-x-twitter"></i>
        </div>
        
    </div>
</footer>